<div class="largest col-sm-12 container-fluid">
  <div class="row">
    <div class="left col-sm-4">
      <div class="banner">
        <h1>Create an Account</h1>
      </div>
    </div>
    <div class="right col-sm-8">
      <div class="form-container">
        <div class="header">
          <h2>Personal Information</h2>
        </div>
        <form #Form="ngForm" class="col-sm-8">
          <!-- <div class="form-group">
            <label>Username</label>
            <input class="field-input form-control" type="text" name="username" ngModel />
          </div>
          <div class="form-group">
            <label>Password</label>
            <input class="field-input form-control" type="password" name="password" ngModel />
          </div> -->
          <div class="form-group">
            <label>Email</label>
            <input class="field-input form-control" type="text" name="email"
                   [(ngModel)]="user.email" />
          </div>
          <div class="form-group">
            <label>City</label>
            <input class="field-input form-control" type="text" name="location"
                   [(ngModel)]="user.location.city" />
          </div>
          <button type="button" class="btn btn-primary" (click)="updateUser()">update
            Account</button>
        </form>
      </div>
    </div>
  </div>
</div>
