<!-- Not Logged in Nav Bar -->
<div *ngIf="!checkLoginStatus()">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">XTrails</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item" (click)="navigateToRegister()">
          <a class="nav-link">Create Account</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" #loginform="ngForm">
        <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username"
               ngModel>
        <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password"
               ngModel>
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit"
                (click)="login(loginform)">Login</button>
      </form>
    </div>
  </nav>
</div>


<!-- Logged in Nav Bar -->
<div *ngIf="checkLoginStatus()">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">XTrails</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02"
            aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item" (click)="navigateToUpdateUser()">
          <a class="nav-link">Update Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="logout()">Logout</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0" id="loginForm">
        <input class="form-control mr-sm-2" type="search" placeholder="">
        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
</div>
